.--titan{
    font-family: 'Titan One', cursive;
}

.balanceChanged{
  transform: scale(1);
  transition: transform 800ms ease-in;
}
.balanceChanged.changed {
  transform: scale(1.5);
  transition: transform 800ms ease-in;
}
